.App {
  text-align: center;
  margin-top: 50px;
}

.Overview {
  max-width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

.box{
  width: 200px;
  float: left;
}
.clear{clear: both;}
.content{
  width: 60%;
  margin: 0 auto;
}
.input-text{
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 10px;
}
.search-btn{
  margin-left: 5px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(98, 0, 255);
  border-radius: 4px;
  color: white;
  border: none;
}